.new-product-type__input {
  gap: 1rem;
}
.new-product-type__input label {
  margin-right: 5px;
  font-weight: bold;
  text-align: right;
}
.new-product-type__input input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  max-width: 100%;
}
