# Logs
logs
*.log
npm-debug.log*

# Editor directories and files
.vscode/*
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# env files
.env
.env*.local
.env*.prod

# misc
dist
dist-ssr

# typescript
*.tsbuildinfo

/output